In [1]:
import pandas as pd

# Load CSV
df = pd.read_csv("salaries_with_performance.csv")

# Strip spaces, remove commas, and convert to float
df["Price"] = df["Price"].astype(str).str.replace(",", "").str.strip()
df["Price"] = pd.to_numeric(df["Price"], errors="coerce")  # Convert to float, setting invalid values to NaN

# Convert Performance Score column as well
df["Overall Performance Score"] = pd.to_numeric(df["Overall Performance Score"], errors="coerce")

# Drop NaN values
df = df.dropna(subset=["Price", "Overall Performance Score"])

print(df.dtypes)  # Confirm datatypes
print(df.head())  # Preview cleaned data

/Users/areena.arora/.pyenv/versions/3.10.0/lib/python3.10/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

KeyError: 'Price'

In [2]:
import pandas as pd
df = pd.read_csv('salaries_with_performance.csv')
df.columns = df.columns.str.replace(" ", "_")
df.columns = df.columns.str.replace("-", "_")
df.columns = df.columns.str.lower()
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:,.2f}'.format

In [3]:
df.head(2)

,name,season,team,_price_,overall_performance_score
0,A Flintoff,2009,Chennai Super Kings,"$1,550,000.00",NaN
1,GJ Bailey,2009,Chennai Super Kings,"$50,000.00",13.32

In [4]:
# Convert Performance Score column as well
df["Overall Performance Score"] = pd.to_numeric(df["overall_performance_score"], errors="coerce")

# Drop NaN values
df = df.dropna(subset=["_price_", "overall_performance_score"])

print(df.dtypes)  # Confirm datatypes
print(df.head())  # Preview cleaned data

name                          object
season                         int64
team                          object
_price_                       object
overall_performance_score    float64
Overall Performance Score    float64
dtype: object
        name  season                 team       _price_  \
1  GJ Bailey    2009  Chennai Super Kings   $50,000.00
2  GJ Bailey    2009  Chennai Super Kings   $50,000.00
3  JA Morkel    2009  Chennai Super Kings  $675,000.00
4  JA Morkel    2009  Chennai Super Kings  $675,000.00
5  JA Morkel    2009  Chennai Super Kings  $675,000.00

   overall_performance_score  Overall Performance Score
1                      13.32                      13.32
2                      87.74                      87.74
3                     -43.25                     -43.25
4                     -60.91                     -60.91
5                    -104.98                    -104.98

In [5]:
df["_price_"] = df["_price_"].astype(str).str.replace(",", "").str.strip()
df["_price_"] = pd.to_numeric(df["_price_"], errors="coerce")