In [1]:
import pandas as pd
df = pd.read_csv('salaries_clean.csv')
df.columns = df.columns.str.replace(" ", "_")
df.columns = df.columns.str.replace("-", "_")
df.columns = df.columns.str.lower()
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:,.2f}'.format

/Users/areena.arora/.pyenv/versions/3.10.0/lib/python3.10/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df_perf = pd.read_csv('IPL_data.csv')

In [3]:
df.head(3)

         name  season                 team          _price_
0  A Flintoff    2009  Chennai Super Kings   $1,550,000.00
1   GJ Bailey    2009  Chennai Super Kings      $50,000.00
2   JA Morkel    2009  Chennai Super Kings     $675,000.00

In [4]:
df_perf.head(3)

,Player,Team,batting_score,bowling_score,overall_score,Overall E(D),Season,Season_Adj,Player_team,Player_team_season,Salaries
0,A Mishra,Delhi Daredevils,-13.37,64.80,51.43,51.43,2007_08,2007_08,A Mishra|Delhi Daredevils,A Mishra|Delhi Daredevils|2007_08,NaN
1,A Nehra,Mumbai Indians,-7.90,20.61,12.71,12.71,2007_08,2007_08,A Nehra|Mumbai Indians,A Nehra|Mumbai Indians|2007_08,NaN
2,AC Gilchrist,Deccan Chargers,21.23,0.00,21.23,21.23,2007_08,2007_08,AC Gilchrist|Deccan Chargers,AC Gilchrist|Deccan Chargers|2007_08,NaN